// Nav Header 🙆🏾‍♂️ 💀
.nav-header {
  background-color: white;
}

// Nav Header Contents 
.nav-container {
  min-height: 80px;
  align-items: center;
}

// AirBnb Logo -change its color in _colors.scss file
.logo-link {
  svg {
    display: block;
    color: $airbnb-logo;
  }
}

// .invalid-inset-input-text-field {
//   border-color: rgb(244, 63, 94) !important;

//   label {
//     color: rgb(244, 63, 94) !important;
//   }

//   input[type="email"], input[type="text"] {
//     &:focus {
//       border-color: rgb(244, 63, 94) !important;
//     }
//     color: rgb(244, 63, 94) !important;
//   }
// } */
